<div
  class="modal fade"
  id="welcomeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="welcomeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h1>Welcome to OpenRoutePlanner!</h1>
        <p>
          OpenRoutePlanner is a free, open-source, and privacy-respecting route
          planner. It is built on top of
          <a href="https://graphhopper.com/">GraphHopper</a> and
          <a href="https://leafletjs.com/">Leaflet</a>.
        </p>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">Route Planner</div>
              <div class="card-body">
                <h5 class="card-title">Plan a route</h5>
                <p class="card-text">
                  Plan a route using the route planner. You can use
                  OpenRoutePlanner to plan a route for walking, running or
                  cycling.
                </p>
                <a href="index.html?new=true" class="btn btn-primary"
                  >Route Planner</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">GPX Viewer</div>
              <div class="card-body">
                <h5 class="card-title">View saved routes on your computer</h5>
                <p class="card-text">
                  Upload a saved GPX file to view it on the map. You can also
                  create a route from a GPX file.
                </p>
                <a href="#" class="btn btn-primary">GPX Viewer</a>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <p>
          OpenRoutePlanner is currently in beta. If you find any bugs or have
          any feature requests, please open an issue on
          <a href="https://github.com/blockarchitech/openrouteplanner"
            >the GitHub page.
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
